USE [master]
GO
/****** Object:  Database [drivinglog]    Script Date: 25-08-2023 14:13:44 ******/
CREATE DATABASE [drivinglog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'drivinglog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\drivinglog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'drivinglog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\drivinglog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [drivinglog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [drivinglog]
GO
/****** Object:  Table [dbo].[driving_logs]    Script Date: 25-08-2023 14:13:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driving_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[assignment] [nvarchar](50) NULL,
	[date] [nvarchar](50) NULL,
	[user_id] [int] NOT NULL,
	[distance] [int] NULL,
	[disabled] [nvarchar](50) NULL,
 CONSTRAINT [PK_driving_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 25-08-2023 14:13:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[licensePlate] [nvarchar](50) NULL,
	[date] [nvarchar](50) NULL,
	[disabled] [nvarchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[driving_logs] ADD  CONSTRAINT [DF_driving_logs_distance]  DEFAULT ((0)) FOR [distance]
GO
ALTER TABLE [dbo].[driving_logs] ADD  CONSTRAINT [DF_driving_logs_disabled]  DEFAULT (N'false') FOR [disabled]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_disabled]  DEFAULT (N'false') FOR [disabled]
GO
ALTER TABLE [dbo].[driving_logs]  WITH CHECK ADD  CONSTRAINT [FK_driving_logs_users] FOREIGN KEY([id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[driving_logs] CHECK CONSTRAINT [FK_driving_logs_users]
GO
USE [master]
GO
